<form class="ui large form segment">
  <h3 class="ui header">Add a Link</h3>

  <div class="field">
    <label for="title">Title:</label>
    <input name="title" #newtitle>
  </div>
  <div class="field">
    <label for="link">Link:</label>
    <input name="link" #newlink>
  </div>
  <button (click)="addArticle(newtitle, newlink)"
          class="ui positive right floated button">
    Submit Link
  </button>
</form>

<div class="ui grid posts">
  <app-article 
    *ngFor="let article of sortedArticles()"
    [article]="article">
  </app-article>
  <!-- *ngFor="let article of articles" will iterate through the list of articles in article.model.ts and create the local variable article for each item on the list -->
  <!-- to specify the article input on a component, we are using the [inputName]="inputValue" expression, which sets the article input to the value of the local variable article set by ngFor -->
</div>